
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');


// Shades of Grey
$primary-color: #190933;
$light-primary: #B084CC;
$medium-primary: #4C2C69;

// Shades of Black
$secondary-color: black;

// White
$tertiary-color: white;

// Shades of Blue??? Can change this
$theme-color: #354F52;
$light-theme: lighten($theme-color, 30%);
$medium-theme: lighten($theme-color, 10%);
$dark-theme: darken($theme-color, 10%);

$bg-color: #ACFCD9;

$main-color: #2F3E46;
$dark-main: #354F52;
$medium-main: #52796F;
$light-main: #84A98C;
$bg-main: #CAD2C5;

body {
    color: $primary-color;
    background-color: $bg-main;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


// LANDING PAGE: SHOWN BEFORE THE USER LOGS IN
.landingPage { 
    width: 100%;
    height: 60%;
    margin-top: 12%;
    display: flex; 
    align-items: flex-start;
    justify-content: space-around;
    background-color: $dark-main;
    box-shadow: 0px 0px 15px $main-color;
}

.summary {
    margin: 5%;
    width: 37.5%;
    color: #FFFFFF;
    h3 {
        color: $tertiary-color;
        margin: 0;
        font-family: 'Titan One', cursive;
        font-size: 5em;
    }
    p {
        line-height: 1.25;
    }
}

.authentication {
    margin: 5%;
    width: 42.5%;
    background-color: $light-main;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    padding: 2.5%;
    
    .authentication-btns {
        display: flex;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: $tertiary-color;
        height: 2.5em;

        .auth-btn {
        width: 50%;
        height: 110%;
        font-family: 'Roboto', sans-serif;
        font-size: 1.25em;
        background: transparent;
        border: none;
        color: $dark-main;
        cursor: pointer;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        &:hover {
            background-color: $light-main;
            color: $tertiary-color;
        }
        }

        .auth-selected {
            background-color: $light-main;
            color: $tertiary-color;
        }

    }

    .authentication-form {
        margin-top: .8em;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        select {
            width: 98%;
            height: 2rem;
            margin: .25rem;
        }

        input {
            box-sizing: border-box;
            height: 2rem;
            margin: .25rem;
            width: 98%;
            border: 1px solid #E6E6E6;
            border-radius: 5px;
            padding: 10px;
            &:hover {
                border-color: $theme-color;
            }
        }

        #signup-submit,
        #login-submit {
            margin-top: .8em;
            font-family: 'Roboto', sans-serif;
            font-size: 1.25em;
            background-color: $tertiary-color;
            border: none;
            color: $dark-main;
            cursor: pointer;
            border-radius: 15px;
            box-shadow: 0px 0px 15px $main-color;
            padding: 0;
            &:hover {
                background-color: $dark-main;
                color: $tertiary-color;
            }
        }
    }
}

// MAIN PAGE SHOWN AFTER THE USER LOGS IN
.mainPage {
    
}

.mainHeader{ 
    color: $tertiary-color;
    background-color: $main-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 2rem
    
    h1 {
        margin: 0;
        font-family: 'Titan One', cursive;
    }

    button {
        background: none;
        color: inherit;
        border: none;
        font: inherit;
        cursor: pointer;
        font-size: 1.5rem;
        outline: inherit;
    }
}

.dashboard {
    padding: 0 10%;
    h1 {
        font-size: 1.5em;
        color: $main-color;
    }
}


// STYLING EACH INDIVIDUAL TICKET
.ticketCard {
    box-shadow: 0px 0px 15px $dark-main;
    background-color: $dark-main;
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: scale .5s;

    h3 {
        color: $tertiary-color;
        font-family: 'Titan One', cursive;
        font-size: 1.2em;
        margin: 0 0 10px 0;
    }
    // Make the description of the ticketCard grey
    // Style a delete button
    // Style an update button
    .delete-btn {
        border-radius: 20px;
        height: 2.5em;
        width: 6em;
        border: none;
        background-color: $light-main;
        color: $tertiary-color;
        font-weight: bold;
        box-shadow: 0px 0px 5px $bg-main;
        align-self: flex-end;
    }

    .taskTitle,
    .taskAuthor,
    .taskDesc,
    .taskStatus,
    .taskPriority {
        color: $tertiary-color;
    }

    &:hover {
        scale: 1.05;
        transition: scale .5s;
    }
}

.ticketCreator {
    // Need to add a className to ticketCreator 
    // but Jo is trying to merge so I don't want to edit that file

}

.status-bar-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.status-bar {
    height: 3.5em;
    width: 20%;
    background-color: $bg-main;
    color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 6px #CAD2C5;
}

.status-string {
    background-color: $tertiary-color;
    width: 15%;
    height: .1em;
}

.status-checked {
    background: rgb(200,182,255);
    background: linear-gradient(319deg, rgba(200,182,255,1) 0%, rgba(132,169,140,1) 63%);
    color: $tertiary-color;
}

.newRequest {
    border-radius: 20px;
    height: 5em;
    width: 6em;
    border: none;
    background-color: $dark-main;
    color: $tertiary-color;
    font-weight: bold;
    box-shadow: 0px 0px 5px $bg-main;
    align-self: flex-end;
    margin-bottom: 3em;
    box-shadow: 0px 0px 20px $medium-main;
    transition: background-color 0.3s, color 0.3s;
}

.newRequest:hover {
    background-color: $light-main;
    color: $main-color;
    transition: background-color 0.3s, color 0.3s;
}

.ticket-status-btns {
    margin-top: 1em;
    align-self: flex-end;

    .ticket-status {
        border: none;
        box-shadow: 0px 0px 7px #84A98C;
        border-radius: 5px;
        width: 7em;
        height: 3em;
        color: $tertiary-color;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: #ACFCD9;
            transition: background-color .3s;
        }

        &:active {
            background-color: #ACFCD9;
            transition: background-color .3s;
        }
    }

    .pending-btn {
        background-color: $bg-main;
    }
    .inprogress-btn  {
        background-color: $light-main;
    }
    .completed-btn {
        background-color: $light-theme;
    }

}

.ticketCardPending {
    background-color: $medium-main;
}

.ticketCardInProgress {
    background-color: $dark-main;
}

.ticketCardCompleted {
    background-color: $main-color;
    
}





